@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;

}

table {
    margin-left: auto;
    margin-right: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
input[type=number] {
    width: 70px;
    height: 20px;
}
 
table th,
table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
 
table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
 
table tbody + tbody {
    border-top: 2px solid #dee2e6;
}
 
@media screen and (max-width: 600px) {
    table {
        border: 0;
        margin-left: 0;
        margin-right: 0;
        table-layout: fixed;
    }
 
    table thead {
        display: none;
    }
 
    table tr {
        margin-bottom: 0.625rem;
        display: block;
        border-bottom: 2px solid #dee2e6;
    }
 
    table td {
        display: block;
        text-align: center;
        border-bottom: 1px dotted #dee2e6;
    }
 
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
 
    table td:last-child {
        border-bottom: 0;
    }

}

td,
th {
    text-align: center;
    padding: 5px;
}

br {
    margin-bottom: 20px;
    padding: 30px;
}

.table-responsive {
    overflow-x: auto;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .table-responsive {
        padding: 0 10px;
    }
}